.accordion {
  max-width: 800px;
  margin-bottom: 1rem;

  .contentBx {
    position: relative;

    .label {
      position: relative;
      padding: 10px;
      background-color: #2694af;
      color: #fff;
      cursor: pointer;

      &::before {
        content: '+';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
      }
    }

    .content {
      position: relative;
      background-color: #fff;
      height: 0;
      overflow: hidden;
      transition: 0.5s;
    }
  }

  .active {
    .label {
      &::before {
        content: '-';
      }
    }

    .content {
      height: 150px;
    }
  }
}
