.product-card {
    text-align: center;

    &__image {
        position: relative;
        // hiệu ứng ảnh

        .promotion {
            width: 50px;
            position: absolute;
            top: 2px;
            left: 2px;

            display: flex;
            flex-direction: column;
            gap: 4px;

            @include tablet {
                width: 40px;
            }

            @include mobile {
                width: 35px;
            }
        }

        .sale-percent,
        .product-new,
        .product-hot {
            padding: 3px 6px;
            background-color: $product-new-color;
            color: $btn-main-color;
            outline: none;
            border: none;
            border-radius: 3px;

            @include tablet {
                padding: 2px 4px;
                font-size: 0.8rem;
            }
        }

        .sale-percent {
            background-color: $product-sale-color;
        }

        .product-new {
            background-color: $product-new-color;
        }

        .product-hot {
            background-color: $product-hot-color;
        }
    }

    &__name {
        color: $txt-second-color;
        font-size: 1rem;
        font-weight: normal;
    }

    &__price {
        color: $font-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 3px;

        &__old {
            color: $txt-second-color;
            margin-left: 20px;
            font-weight: 300;

            font-size: 1.2rem;
        }
    }

    &__btn {
        margin-bottom: 15px;

        @include tablet {
            display: none;
        }
    }
}
