.wrapper {
    padding: 40px 100px;
    .right {
        .message {
            display: flex;
            align-items: center;
            gap: 50px;
            margin: 50px 0;

            &-icon {
                width: 100px;
                height: 72px;
                display: flex;
                align-items: center;
            }

            &__content {
                &__title {
                    font-size: 1.7em;
                    font-weight: bold;
                }

                &__sub-title {
                    margin-top: 10px;
                    font-size: 1.4em;
                }
            }
        }

        .customer {
            border: 1px solid $border-color;
            padding: 25px;
            background-color: #fafafa;

            &__info,
            &__payment,
            &__shipping,
            &__address {
                margin-bottom: 20px;

                &__title {
                    font-size: 1.7rem;
                    font-weight: 400;
                    margin-bottom: 10px;
                }

                .text {
                    margin-bottom: 5px;
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }
        }
    }

    .left {
        .file {
            float: right;

            .btn {
                background-color: $border-color;
                border-radius: 3px;
                .btn__txt {
                    padding: 5px 10px;
                }
            }

            i {
                font-size: 2rem;
                color: $black-color;
            }
        }

        .table {
            margin-top: 80px;
            margin-left: 60px;
            padding: 20px;
            border: 1px solid $border-color;
            background-color: #fafafa;

            .title {
                background-color: #f3f3f3;
                margin-bottom: 3px;
                p {
                    padding: 8px;
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }

            .calculate {
                margin-bottom: 3px;

                .provisional,
                .fee {
                    @include flex(center, space-between);
                    background-color: #f3f3f3;
                    padding: 8px;

                    .text,
                    .price {
                        font-size: 1.3rem;
                    }
                }
            }

            .total {
                @include flex(center, space-between);
                background-color: #f3f3f3;
                margin-bottom: 3px;
                padding: 8px;

                .text {
                    font-size: 1.3rem;
                }

                .price {
                    font-size: 1.68rem;
                    color: $cyan-color;
                }
            }
        }
    }

    .btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}
