// import font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

//reset web
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-tap-highlight-color: transparent;
}

html {
    font-size: 13px;

    @include mobile {
        font-size: 11px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

//loop chia bản màu
@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}

//loop chia columns => 12
@each $val in $numbers {
    //class
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

// loop chia columns md => 12
@each $val in $numbers {
    //class
    .grid-col-md-#{$val} {
        @include tablet {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

// loop chia columns sm => 12
@each $val in $numbers {
    //class
    .grid-col-sm-#{$val} {
        @include mobile {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

.container {
    width: 100%;
    max-width: 1620px;
    padding: 0 100px;
    margin: 0 auto;

    @include tablet {
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-bottom: 2rem;
    min-height: 100vh;

    @include tablet {
        margin-top: 20px;
    }

    @include mobile {
        margin-top: 20px;
    }
}

.grid {
    display: grid;
}

.cursor-pointer {
    cursor: pointer;
}
